doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Skooly Sign up
    link(rel="shortcut icon" href="img/logo.png")
    link(rel="stylesheet" href="css/main.css")
  
  body
    section.screen-name-wrap
      .row--no-gutter.screen-name
        .col.col--1-of-2.col--m-12-of-12
          section.left-half 
            .graphic            
              img(src="img/name.png", alt="")
            p.policy By signing up, I agree to Skooly’s Terms of service and Privacy policies
        
        .col.col--1-of-2.col--m-12-of-12
          section.right-half
            .branding
              img.logo(src="img/logo.png", alt="")
            .main-contant
              h1 How do we address you
              h2 This will appear as your signature on your messages
              form(id="name" action="", method="post")
                input(type="text" name="name" value="" placeholder="Enter your Name")
                br
                input(type="button" name="next" value="next")
                
            footer
              .bullets.clearfix
                .bul
                .bul
                .bul
                .bul
            
          
              
          
                
                
                
              
              
          
          
      
    
    
    
     
    
    
