@import "fonts"
@import "reset"
$lato:'brandon', sans-serif
$open:'Open Sans', sans-serif
$dark_text:rgba(0,0,0,.8)
::-moz-selection
    background: rgba(255, 235, 0, 0.51)
::selection
    background: rgba(255, 235, 0, 0.51)

body
  font-family: $open
